body
{
    margin: 0;
    font-family: Arial, sans-serif;
}
header
{
    background-color: rgba(242, 169, 60, 0.7);  
    padding: 10px 200px;  
    display: flex;
    flex-direction: row;
}
.caja
{
    background-color: rgb(235, 207, 165);
    width: 30px;
    height: 50px;
    margin: 2px;
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.caja:hover
{
    background-color: rgb(242, 169, 60);
    cursor: pointer;
}
.inicio
{
    width: 50px;
    height: 50px;
    margin: 2px;
    flex: 1; 
    display: flex;
    justify-content: left;
    align-items: center;
}